<div class="row">

  <%= form_with(model: post, local: true) do |form| %>
    <% if post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
</div>

<div class="row">

  <div class="field col-6">
  <%= form.label :title %>
  <%= form.text_field :title, id: :post_title %>
  </div>

  <div class="field col-6">
    <%= form.label :author %>
    <%= form.text_field :author, id: :author %>
  </div>
</div>
<div class="row">

  <div class="field col-12">
    <%# form.label :body %>
    <%= form.text_area :body, id: :post_body, placeholder: "Write for the blog!", rows: 5, class: "w-100" %>
  </div>

    <div class="actions col-12 text-center">
      <%= form.submit class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>