
<p id="notice"><%= notice %></p>

<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="page-heading">
        <h1>My Posts</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">

        <% @posts.each do |post| %>
          <div class="clearfix mt-3">
              <h3 class=""><%= link_to post.title, post %></h3>
              <div class="col-med-4 float-left"><i><%= friendly_date post.created_at %></i></div>
              <!-- <p><%# post.body %></p> -->
              <div class="col-med-6 float-right">
                <%= link_to 'Edit', edit_post_path(post), class: "btn-outline-secondary btn-sm", type: "button" %>
                <%= link_to 'Destroy', post, method: :delete, data: { confirm: "Delete this post?" }, class: "btn-outline-danger btn-sm", type: "button" %>
              </div>
              <p class="">
          </div>
        <% end %>
        <%= link_to 'New Post', new_post_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>

<br>

